@import 'tailwindcss';

@theme {
  --color-primary: var(--el-color-primary);
  --color-success: var(--el-color-success);
  --color-warning: var(--el-color-warning);
  --color-danger: var(--el-color-danger);
  --color-error: var(--el-color-error);
  --color-info: var(--el-color-info);
}

@source inline('{sm:,md:,lg:,xl:,}grid-cols-{{1..12..1}}');

@utility scroll-bar {
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar-thumb:hover {
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
